<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.something.dao.mapper.IpAddressMapper">

    <resultMap id="BaseResultMap" type="com.something.dao.domain.IpAddress">
            <id property="id" column="id" />
            <result property="ip" column="ip" />
            <result property="lat" column="lat" />
            <result property="lng" column="lng" />
            <result property="nation" column="nation" />
            <result property="province" column="province" />
            <result property="city" column="city" />
            <result property="district" column="district" />
            <result property="adcode" column="adcode" />
            <result property="nationCode" column="nation_code" />
            <result property="createdTime" column="created_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,ip,lat,lng,nation,province,
        city,district,adcode,nation_code,created_time
    </sql>


    <select id="queryByIp" resultType="com.something.dao.domain.IpAddress">
        select
        <include refid="Base_Column_List" />
        from ip_address
        where ip = #{ip}
    </select>
</mapper>
